@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: #242333;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: "Lato", sans-serif;
  margin: 0;
}
#drum-machine {
  width: 320px;
  height: 420px;
  background-color: teal;
  border-radius: 20px;
}
#drum-rows {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 320px;
  height: 280px;
  background-color: wheat;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.drum-pad {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: 60px;
  background-color: teal;
  border-radius: 30px;
  border: 0;
  margin: 5px 15px 5px 15px;
  text-decoration: none;
}
.drum-pad:hover {
  cursor: pointer;
  transform: scale(1.2);
}
.drum-pad:active {
  background-color: darkcyan;
}
.row {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 10px 0;
}

#display {
  display: flex;
  flex-direction: column;
  font-size: 1.4rem;
  border: none;
  margin: 30px 0;
  align-items: center;
}
